* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
body {
  min-width: 1200px;
}
hr {
  border: 0px;
  border-top: 1px solid rgb(224, 224, 224);
  padding: 2px 0;
}
a {
    text-decoration: none;
}
.h-100 {
  height: 100%;
}
.position-relative {
  position: relative;
  z-index: 0;
}
.float-right {
  float: right;
}
.flex-1 {
  flex: 1;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.mt-1 {
  margin-top: 1em;
}
.text-danger {
  color: #ec5330;
}
.text-muted {
  color: #aaaaaa;
}
.text-size-12 {
  font-size: 12px;
}