* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
body {
  min-width: 1200px;
}
hr {
  border: 0px;
  border-top: 1px solid rgb(224, 224, 224);
  padding: 2px 0;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #fe8c00;
}
.wrapper-a {
  display: inline-block;
  width: 100%;
  color: #333;
}
.wrapper-a:hover {
  color: #333;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.h-100 {
  height: 100%;
}
.position-relative {
  position: relative;
  z-index: 0;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.flex-1 {
  flex: 1;
}
.d-flex {
  display: flex;
}
.d-ib {
  display: inline-block;
}
.justify-content-between {
  justify-content: space-between;
}
.my-2em {
  margin-top: 2em;
  margin-bottom: 2em;
}
.mt-1 {
  margin-top: 1em;
}
.p-sm {
  padding:3px 8px;
}
.pb-2em {
  padding-bottom: 2em;
}
.pt-2em {
  padding-top: 2em;
}
.m-sm {
  margin: 5px;
}
.mr-1em {
  margin-right: 1em;
}
.mr-2em {
  margin-right: 2em;
}
.mr-3em {
  margin-right: 3em;
}
.text-right {
  text-align: right;
}
.text-align-right {
  text-align: right;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-danger {
  color: #ff6e35;
}
.text-muted {
  color: #929292;
}
.text-white {
  color: rgb(241, 241, 241);
}
.text-warning {
  color: rgb(255, 187, 0);
}
.bg-danger {
  background-color: rgb(235, 49, 35);
}
.bg-info {
  background-color: rgb(35, 178, 235);
}
.bg-warning {
  background-color: rgb(255, 166, 0);
}
.font-size-0 {
  font-size: 0px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-1_2 {
  font-size: 1.2em;
}
.font-bold {
  font-weight: 700;
}
.font-bolder {
  font-weight: 900;
}
.line-height-2 {
  line-height: 2;
}
.cursor-pointer {
  cursor: pointer;
}